@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap");
:root {
  --active-background: black;
  --active-text-color: white;
  --active-gradient: linear-gradient(-45deg, black, #222);
  --active-text-gradient: linear-gradient(to right, #bce29e, #ff8787);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: var(--active-text-color);
  text-decoration: none;
  transition: 0.3s;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .container {
    width: 560px;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}

/*  X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .container {
    width: 1260px;
  }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
  .container {
    width: 1350px;
  }
}
body {
  background-image: var(--active-gradient);
  color: var(--active-text-color);
  font-family: "Roboto Mono", monospace;
  overflow: hidden;
}
.container {
  margin: auto;
  min-height: 100vh;
}
/* Start Header  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transform: translateY(-80px);
  opacity: 0;
  transition-duration: 2s;
}
header.loaded {
  transform: translateY(0px);
  opacity: 1;
}
header img {
  height: 40px;
}
header .dark-mode i {
  display: none;
  cursor: pointer;
  font-size: 20px;
}
header .dark-mode .light {
  color: #222;
}
header .dark-mode i.active {
  display: block;
}
header a {
  text-transform: uppercase;
}
/* End Header  */
/* Start Landing */
#landing {
  height: calc(100vh - 83px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
}
#landing div {
  transform: translateY(100px);
  opacity: 0;
  transition-duration: 2s;
  transition-delay: 1s;
}
#landing div.loaded {
  transform: translateY(0px);
  opacity: 1;
}
#landing h1 {
  background-image: var(--active-text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
  transition-duration: 1s;
  transition-delay: 1s;
}
#landing p {
  margin: 10px 0;
}
#landing img {
  margin-top: 20px;
}
#landing ul {
  width: 20px;
  margin-left: auto;
  list-style: none;
  display: flex;
  gap: 20px;
  transform: rotate(90deg) translate(-100px, -150px);
  opacity: 0;
  transition-duration: 2s;
  transition-delay: 1.5s;
}
#landing ul.loaded {
  transform: rotate(90deg) translate(-100px, 0);
  opacity: 1;
}
/* End Landing */
